footer {
  color: $light-blue;
  opacity: 0.6;
  font-size: 16px;
  a {
    i {
      font-size: 24px;
      color: $light-blue;
    }
    &:hover {
      i {
        color: $light;
      }
    }
  }
}
