.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.my-nav {
  background: $dark-blue;
  padding: 8px 0px 8px 16px;
  .navbar-brand {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: $red;
  }
}
.my-dropdown {
  display: inline-block;
  position: relative;
  padding-right: 16px;
  a {
    text-decoration: none;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    color: $light;
    &:hover{
      color: $light-blue;
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    width: fit-content;
    overflow: auto;
    padding: 0 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: $dark-blue;
    a {
      display: block;
      color: #000000;
      padding: 5px;
      text-decoration: none;
      color: $light-blue;
      font-weight: 300;
      font-family: 'Lato', sans-serif;
      font-style: italic;
      text-align: right;
      border-radius: 8px;
      &:hover {
        background-color: $light;
        color: $dark-blue;
      }
    }
  }
  &:hover .dropdown-content {
    display: block;
  }
}
